
body {
  background: rgb(254, 250, 255);
}

#app {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }

hr {
    border-color: white;
}

.div1 {
    width: 30%;
    display: inline-block;
    padding-bottom: 0.5em;
}
.div2 {
  width: 30%;
  display: inline-block;
  background-color: white;
  padding: 0.5em;
}
